.category-page-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.no-favorites-text {
  display: flex;
  justify-content: center;
}

.garment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.individual-garment-container {
  transition: transform 0.5s ease;
  cursor: pointer;
  position: relative;
}

.individual-garment-container:hover {
  transform: scale(1.05);
}

.individual-garment-title {
  width: 350px;
}

.index-preview-image {
  width: 350px;
  height: 418px;
  object-fit: cover;
}

.individual-garment-link {
  color: var(--black);
}

.heart-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.individual-garment-container:hover .heart-icon {
  opacity: 1;
}

.favorite-selected {
  color: var(--base-red);
}

.price-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.price {
  text-decoration: line-through;
  color: var(--mid-gray);
}

.discounted-price {
  font-weight: 550;
}
