.sign-up-container {
  width: 500px;
  height: 600px;
  padding: 10px 30px;
}

.sign-up-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.field-required {
  color: var(--errors);
}

.credentials-sign-up {
  display: flex;
  flex-direction: column;
}

.credentials-sign-up input {
  height: 35px;
  padding-left: 8px;
}

.sign-up-modal-btn {
  padding: 8px 30px 8px 30px;
  border: 1px solid var(--black);
  background-color: var(--black);
  border-radius: 20px;
  color: var(--white);
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.sign-up-modal-btn:hover {
  background-color: var(--white);
  color: var(--black);
}
