.login-container {
  width: 500px;
  height: 500px;
  padding: 30px;
}

.login-text-sign-up-container {
  display: flex;
  justify-content: space-between;
}

.login-text-sign-up-container button {
  padding: 8px 30px 8px 30px;
  border-radius: 25px;
  border: 2px solid var(--base-red);
  background-color: var(--white);
  color: var(--base-red);
  cursor: pointer;
  font-weight: 550;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.login-text-sign-up-container button:hover {
  background-color: var(--base-red);
  color: var(--white);
  border: 2px solid var(--base-red);
}

.login-form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.email-password-login {
  display: flex;
  flex-direction: column;
}

.email-password-login input {
  height: 35px;
  padding-left: 8px;
}

.login-modal-btn {
  padding: 8px 30px 8px 30px;
  border: 1.7px solid var(--base-red);
  background-color: var(--base-red);
  border-radius: 20px;
  color: var(--white);
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.login-modal-btn:hover {
  background-color: var(--white);
  color: var(--base-red);
  border: 1.7px solid var(--base-red);
}

.login-sign-up-error-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.login-sign-up-error {
  color: var(--errors);
}
