.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.nav-links-container {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: var(--black);
  border-bottom: 2px solid transparent;
  padding-bottom: 7px;
}

.nav-link:hover {
  color: var(--base-red);
  border-bottom: 2px solid var(--base-red);
  padding-bottom: 7px;
}

.login-btn-shopping-bag {
  display: flex;
  align-items: center;
  gap: 30px;
}

.login-btn {
  padding: 8px 30px 8px 30px;
  border-radius: 20px;
  border: 1.7px solid var(--base-red);
  background-color: var(--white);
  color: var(--base-red);
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.login-btn:hover {
  border: 1.7px solid var(--base-red);
  background-color: var(--base-red);
  color: var(--white);
}

.shopping-bag {
  height: 30px;
  width: 30px;
}

.user-menu-shopping-bag {
  display: flex;
  align-items: center;
  gap: 30px;
}
