.menu-btn {
  border: none;
  background-color: var(--white);
  position: relative;
}

.user-icon {
  height: 20px;
  width: 20px;
  margin-top: 8px;
  cursor: pointer;
}

.profile-dropdown-div {
  display: flex;
  border: 1px solid #ccc;
  background-color: var(--white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  position: absolute;
  padding: 15px;
  top: 0px;
  right: 20px;
  width: 250px;
  border-radius: 8px;
}

.menu-bottom-border {
  border-bottom: 1px solid var(--black);
  padding: 5px;
}

.manage-products-favorites {
  color: var(--black);
  font-weight: 550;
  transition: color 0.5s ease;
}

.manage-products-favorites:hover {
  color: var(--base-red);
  font-weight: 550;
}
